*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    margin: 0px;

}

::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    background-color: black;
}
::-webkit-scrollbar-thumb {
    background-color: #3882F6;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

#head{
}
.head_list{
    display: flex;
    gap: 30px;
    list-style: none;
    color: #E5E7EB;
    margin: 0px;
    background-color: #1F2937;
    padding: 30px;
    padding-left: 100px;
    justify-content: flex-end;
    padding-right: 100px;
}
.item1{
flex: 1;
font-size: 24px;
}
.item{
    text-decoration: none;
    color: #E5E7EB;
}
.item:hover{
color: #3882F6;
}
#home{
    display: flex;
    align-items: center;
    background-color: #1F2937;
    padding: 30px;
}
#home_info{
    margin: 30px;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
}
#home_info h1{
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
    margin: 0px;
}
#home_info p{
    font-size: 18px;
    color: #E5E7EB;
}
#home_info a{
    background-color: #3882F6;
    padding: 10px;
    border-radius: 10px;
    color: #F9FAF8;
    font-weight: extra-bold;
    text-decoration: none;
}
#home_img{
    width: 450px;
    height: 100%;
    margin: 30px;
}

.rec-title{
    display: flex;
    justify-content: center;
    margin: 40px;
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
}

#albums{
    display: flex;
    gap: 80px;
    justify-content: center;
    margin-bottom: 60px;
}
#albums div{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.rec-text{
    margin: 0px;
    width: 130px;
    text-align: justify;
    margin-top: 20px;
}
.rec-img{
    border: solid 7px #3882F6;
    border-radius: 20px;
    width: 150px;
    height: auto;
}

#msg{
background-color: #E5E7EB;
color: #90959c;
font-size: 36px;
font-style: italic;
font-weight: lighter;
padding: 100px 200px 100px 200px;

}
.name{
    color: #1F2637;
    font-weight: 500;
    text-align: end;
}

.action{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #3882F6;
    padding: 30px;
    margin: 60px;
    border-radius: 20px;
}
.a {
    margin: 0px;
    color: #F9FAF8;
}
.action a{
    color: #F9FAF8;
    text-decoration: none;
    border: solid 3px #F9FAF8;
    padding: 10px 20px 10px 20px;
    border-radius: 15px;
}

footer {
    background-color: #1F2937;
    text-align: center;
    padding: 15px;
    color: #F9FAF8;
}